.cardItem {
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: Cambria;
    padding: 5em 15px;
} 

.cost { 
    color: grey;
    font-size: 22px;
}

.cardItem button {
    border: none;
    outline: 0;
    padding: 12px;
    color: black;
    background-color: #b4b19f;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

    .cardItem button:hover {
        opacity: 0.5;
        color: black;
    }
    .popup {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background-color: rgba(0,0,0, 0.5);
      }
      .popup_inner {
        position: absolute;
        left: 25%;
        right: 25%;
        top: 25%;
        bottom: 25%;
        margin: auto;
        border-radius: 20px;
        background: white;
      }
